.prts-container {
    background: none;
    padding: 40px 20px;
    text-align: center;
    color: white;
  }
  
  .prts-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;

    text-decoration: none;
    font-family: "Unbounded", sans-serif;
    font-style: normal;
  }
  
  .carousel {
    display: flex;
    overflow-x: auto;
    gap: 30px;
    scroll-behavior: smooth;
    padding: 0 20px;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .partner-box {
    flex-shrink: 0;
    width: 260px;
    height: 130px;
    background: none;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); */
  }
  
  .partner-box img {
    max-height: 100px;
    max-width: 90%;
    object-fit: contain;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .partner-box {
      width: 200px;
      height: 100px;
    }
  
    .prts-title {
      font-size: 24px;
    }
  }
  
  @media (max-width: 480px) {
    .partner-box {
      width: 160px;
      height: 90px;
    }
  
    .prts-title {
      font-size: 20px;
    }
  }

.carousel {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none; /* Chrome, Safari va Edge uchun yashiradi */
}

.carousel {
  -ms-overflow-style: none;  /* IE 10+ uchun */
  scrollbar-width: none;     /* Firefox uchun */
}